.attendance-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.attendence-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
  color: gray;
  width: (100vw - 120px);
}

.table {
  background-color: white;
}
