.newUser-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 70%;
  height: 80vh;
  padding: 20px 0;
}

.text-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
}

.buttons-fields {
  display: flex;
  width: 50%;

  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
