.newStaff-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.text-field1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-field2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-field3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-field4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.response {
  position: absolute;
  color: red;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
