.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.text-fields1 {
  display: flex;
  width: 100%;
  padding: 10px 0px;
}

.text-fields2 {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  width: 100%;
}

.title2 {
  margin: 10px 0px;
  color: rgb(139, 139, 139);
}

.subtext {
  display: flex;
  width: 100%;
  padding: 10px 0;
}

.text-fields3 {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  width: 100%;
}

.text-fields7 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0px;
}

.text-fields8 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0px;
}

.addProject {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
